adbuyerscience/PartialArmTemplates/ArmTemplate_10_27_2021_21_49_46.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adbuyerscience"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BSPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline for Buyerscience - USF Integrative project",
				"activities": [
					{
						"name": "BuyerScience_OnlineRetail",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "BuyerScience_instacart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/natarajarumuga@gmail.com/onlineRetailbuyerScience"
						},
						"linkedServiceName": {
							"referenceName": "LSDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "BuyerScience_instacart",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/natarajarumuga@gmail.com/insta-buyerscience"
						},
						"linkedServiceName": {
							"referenceName": "LSDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSDatabricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LSDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1298440721447507.7.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "**********"
					},
					"existingClusterId": "1024-230648-mvibv34u"
				}
			},
			"dependsOn": []
		}
	]
}